#sponsors {
  background-color: #f1f5f7;
  height: auto;
  min-height: 0;
  padding: 60px;
}

h3 {
  color: #bababa;
  font-weight: 300;
}

.sponsors-tier {
  margin-bottom: 80px;
}

.sponsor-image {
  width: 100%;
  max-height: 100%;
}

.platinum {
  max-width: 600px;
}

.gold {
  max-width: 300px;
  margin-top: 20px;
}

.silver {
  margin-top: 30px;
  max-width: 250px;
}

.bronze {
  margin-top: 30px;
  max-width: 200px;
}

.sponsor-image-container {
  margin: 0 auto;
}

#amex-logo {
  max-width: 150px;
}

#goldman-sachs-logo {
  margin-top: 15px;
  max-width: 125px;
}

#thg-logo {
  max-width: 170px;
}

#codethink-logo, #netcraft-logo, #thg-logo {
  margin-top: 50px;
}

#bentley-logo {
  max-width: 200px;
}

#barclays-logo {
  margin-top: 85px;
  max-width: 280px;
}

#morgan-stanley-logo {
  margin-top: 90px;
  max-width: 280px;
  margin-left: 20px;
}

#skyscanner-logo {
  margin-top: 85px;
  margin-left: 30px;
}

#visa-logo {
  max-width: 200px;
  margin-top: 70px;
}

#aws-logo, #romanianit-logo {
  min-width: 250px;
  margin-top: 50px;
  margin-left: 70px;
}

#daktarimkononi-logo {
  max-width: 270px;
  margin-top: 75px;
}

#romanianit-logo {
  margin-top: 100px;
}

#makeit-logo {
  max-width: 150px;
}

@media screen and (max-width: 1199px) {
  #skyscanner-logo {
    margin-left: 20px;
  }
}

@media screen and (max-width: 991px) {
  #amex-logo {
    max-width: 100px;
  }
  #barclays-logo {
    margin-top: 67px;
    max-width: 280px;
  }
  #morgan-stanley-logo {
    margin-top: 70px;
    max-width: 280px;
  }
  #skyscanner-logo {
    margin-top: 65px;
    margin-left: 10px;
  }
  #visa-logo {
    margin-top: 50px;
    margin-left: 20px;
  }
  #push-doctor-logo {
    width: 170px;
    margin-left: 33px;
  }
  #intel-logo {
    width: 100px;
    margin-left: 30px;
  }
  #aws-logo, #romanianit-logo  {
    max-width: 70px;
    margin-left: -40px;
  }
  #makeit-logo {
    max-width: 130px;
  }
  #romanianit-logo  {
    margin-top: 90px;
  }
}

@media screen and (max-width: 768px) {
  #amex-logo {
    max-width: 80px;
  }
  #goldman-sachs-logo {
    max-width: 70px;
  }
  #codethink-logo, #netcraft-logo, #thg-logo {
    margin-top: 35px;
  }
  #barclays-logo {
    margin-top: 62px;
  }
  #morgan-stanley-logo {
    margin-top: 65px;
  }
  #skyscanner-logo {
    margin-top: 60px;
    margin-left: 10px;
  }
  #visa-logo {
    margin-top: 48px;
  }
  #bentley-logo {
    max-width: 100px;
  }
  #romanianit-logo  {
    margin-top: 80px;
  }
  #makeit-logo {
    max-width: 100px;
  }
}

@media screen and (max-width: 575px) {
  #amex-logo {
    max-width: 130px;
  }
  #goldman-sachs-logo {
    max-width: 115px;
  }
  #netcraft-logo {
    max-width: 250px;
  }
  #morgan-stanley-logo, #skyscanner-logo, #visa-logo, #barclays-logo {
    margin-top: 20px;
  }
  #visa-logo, #netcraft-logo, #morgan-stanley-logo, #skyscanner-logo {
    margin-left: 0;
  }
  #push-doctor-logo {
    margin-left: 0;
    max-width: 300px;
  }
  #aws-logo, #romanianit-logo  {
    width: 150px;
    margin-left: -110px;
  }
  #intel-logo {
    width: 130px;
    margin-left: 0;
  }
  #bentley-logo {
    max-width: 210px;
  }
  #daktarimkononi-logo, #romanianit-logo {
    margin-top: 30px;
  }
}

@media screen and (max-width: 575px) {
  .sponsor-image {
    margin-top: 20px;
  }
}